# Ignore compiled files
*.log
*.tmp
debugg.py
*.out
./checkpoints/
checkpoints/
*.ckpt
./checkpoints/*
*.png
*.sh
./wandb/
# Ignore IDE-specific files and directories
.idea/
.vscode/
*.ipynb
*.pyc
__pycache__/
__pycache__
debugg_jb.py
# Ignore system-specific files
Thumbs.db
.DS_Store